@import "setup";
@import "map";

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    background: url(../assets/FreeVector-Weather-Pattern.jpg);
}

h2 {
    font-size: 2.2rem;
}
.wrapper {
    align-items: center;
    display: flex;   
    height: 100vh;
    justify-content: center;
    max-width: 1070px;
    margin: 0 auto;
}

.user-input {
    flex-direction: column;
}

.response {
    flex-wrap: wrap;
}

.loc-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80vh;
    background: rgba(0,0,0, 0.5);
    border-radius: 10px;
}

.suggested-activity {
    background: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    text-align: center;
    width: calc(33% - 20px);
    padding: 40px;
    box-shadow: 0px 0px 2px blue;
}

