@import "setup";
@import "map";

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
}

.wrapper {
    align-items: center;
    display: flex;   
    height: 100vh;
    justify-content: center;
    max-width: 1070px;
    margin: 0 auto;
}

.user-input {
    flex-direction: column;
}

.response {
    flex-wrap: wrap;
}

.loc-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80vh;
    background: rgba(0,0,0, 0.5);
    border-radius: 10px;
}

.suggested-activity {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
    padding: 40px;
    border: 2px solid blue;
}

