@import "setup";
@import "typography";

//General Styles
html {
    font-size: 62.5%;
}

body {
    background:  linear-gradient(rgba(0, 0, 0, 0.2)), url(../assets/487.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #494947;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
}

.wrapper {
    align-items: center;
    display: flex;   
    justify-content: center;
    margin: 0 auto;
    max-width: 1070px;
    min-height: 100vh;
    @media (max-width: 1090px) {
        padding: 20px;
    }
}


//Google Map styling
#map {
    border-radius: 8px; 
    display: flex;
    height: 90%;
    width: 100%;
    h3 {
        margin: auto;
    }
    @media (max-width: 350px) {
        height: 85%;
    }
}

//Welcome page styles
.user-input {
    flex-direction: column;
}

.header-text {
    background: lighten(#1799cc, 2%);
    border-radius: 8px;
    box-shadow: 2px 2px 20px #12779e;
    margin-bottom: 40px;
    padding: 20px 40px;
    text-align: center;
    width: 80%;
    span {
        text-decoration: line-through;
    }
}

.response {
    flex-wrap: wrap;
    @media (max-width: 785px) {
        flex-direction: column;
    }
}

.loc-input {
    align-items: center;
    background: rgba(225,225,255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 2px darken(#1799cc, 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:20px;
    width: 80%;
    @media (max-width: 450px) {
        text-align: center;
    }
    input[type=text] {
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 2px #12779e;
        color: #494947;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
    }
    h2{
        margin-bottom: 10px;
    }
    h3 {
        align-self: left;
    }
}

//Response page styles
.suggested-activity {
    align-items: center;
    background: rgba(225,225,255, 0.9);
    border-radius: 8px;
    box-shadow: 0px 0px 2px darken(#1799cc, 10%);
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
    width: calc(33% - 20px);
    @media (max-width: 785px) {
        height: initial;
        margin: 0 0 20px 0;
        width: 100%;
    }
    div {
        align-items: center;
        background: #fff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: inherit;
        padding: 10px;
        @media (max-width: 785px) {
            width: 100%;
        }
    }
    h2 {
       color: #e15554;
    }
}

.suggested-locations {
    background: rgba(225,225,255, 0.9);
    border-radius: 8px;
    box-shadow: 0px 0px 2px darken(#1799cc, 10%);
    height: 80vh;
    padding: 20px;
    width: 66%;
    @media (max-width: 785px) {
        height: 86vh;
        margin-bottom: 20px;
        width: 100%;
    }
    h2 {
        color: #494947;
    }
    div {
        font-size: 1.6rem;
        text-align: center;
        @media (max-width: 460px) {
            font-size: 1.4rem;
        }
    }
}

input[type=submit],
button {
    background: #e15554;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    padding: 20px;
    text-shadow: 0.5px 0.5px 0px #fff;
    transition: background 0.2s ease-in;
    &:hover {
        background: darken(#e15554, 10%);
    }
    @media (max-width: 450px) {
        padding: 10px;
    }
}

.reset-button {
    margin: 10px;
}

footer {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    p {
        margin: 0;
    }
    a {
        color:#e15554;
        text-decoration: none;
    }
}